.people {
  display: flex;
  gap: 1.5rem;
  cursor: pointer;
  &:hover {
    background: rgb(230, 230, 230);
    border-radius: 35px;
  }
  img {
    min-width: 4rem;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border: 1px solid rgb(211, 211, 211);
  }
}

.content {
  justify-content: center;
  display: flex;
  flex-direction: column;

  .chatname {
    font-weight: bold;
  }

  .lastmessage {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2; 
    word-break: break-word;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
  }
}